@config './onboard-tailwind.config.js';
@import './../../base-tailwind';
@import '@getdokan/dokan-ui/dist/dokan-ui.css';

.dokan-admin-setup-wizard {
    margin: 0;

    .dokan-onboard-welcome {
        background-image: url("/assets/images/onboard-bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.dokan-onboard-radial-gradient {
    background: radial-gradient(farthest-corner, #FFE0EE, #EAF6FF, #FFF9EA, #FAFAFA, #F5F7F2);
    background-size: 200% 200%;
    animation: moveGradient 15s infinite linear alternate;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
