/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-10.use[1]!./node_modules/less-loader/dist/cjs.js??clonedRuleSet-10.use[2]!./assets/src/less/dokan-admin-product.less ***!
  \*************************************************************************************************************************************************************************************/
.dokan_product_author_override__avatar {
  display: inline-block;
  float: right;
}
.dokan_product_author_override__avatar img {
  width: 22px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #eaeaea;
}
.dokan_product_author_override__title {
  line-height: 1.7;
  padding-right: 28px;
}

