node_modules
build
npm-debug.log
.DS_Store
includes/.DS_Store
.idea
/includes/.DS_Store
plugin-deploy.sh
secret.json
debug.log
package-lock.json
config.json
/lib/packages/
/lib/classes/

# Composer
/vendor/
phpcs-report.txt
/phpcs.xml
.phpunit.result.cache

#unwanted webpack files
/assets/js/
/assets/css/
!/assets/css/vue-vendor.css
!/assets/css/vue-frontend.css
!/assets/css/wp-version-before-5-3.css
