node_modules
build
npm-debug.log
.DS_Store
includes/.DS_Store
.DS_Store
.idea
/includes/.DS_Store
plugin-deploy.sh
secret.json
debug.log
package-lock.json
config.json

# Testing
tests/e2e/node_modules
tests/e2e/output
tests/e2e/codecept.conf.js

# Composer
/vendor/
phpcs-report.txt
