<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Dokan">
    <description>Generally-applicable sniffs for WordPress plugins.</description>

    <!-- What to scan -->
    <file>.</file>
    <exclude-pattern>*/.git/*</exclude-pattern>
    <exclude-pattern>*/.githooks/*</exclude-pattern>
    <exclude-pattern>*/.make/*</exclude-pattern>
    <exclude-pattern>*/assets/*</exclude-pattern>
    <exclude-pattern>*/src/*</exclude-pattern>
    <exclude-pattern>*/lib/*</exclude-pattern>
    <exclude-pattern>*/dist/*</exclude-pattern>
    <exclude-pattern>*/build/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>
    <exclude-pattern>^vendor/</exclude-pattern>
    <exclude-pattern>(^includes)(\/vendor)</exclude-pattern>
    <exclude-pattern>*/tests/*</exclude-pattern>
    <exclude-pattern>*.js</exclude-pattern>
    <exclude-pattern>*.twig</exclude-pattern>
    <exclude-pattern>*.css</exclude-pattern>
    <exclude-pattern>*.scss</exclude-pattern>
    <exclude-pattern>languages/*</exclude-pattern>

    <!-- How to scan -->
    <!-- Usage instructions: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
    <!-- Annotated ruleset: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
    <arg value="sp"/> <!-- Show sniff and progress -->
    <arg name="basepath" value="./"/><!-- Strip the file paths down to the relevant bit -->
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="12"/><!-- Enables parallel processing when available for faster results. -->

    <!-- Rules: Check PHP version compatibility -->
    <!-- https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
    <config name="testVersion" value="7.4-"/>

    <!-- Rules: Check PHP version compatibility-->
    <!-- https://github.com/PHPCompatibility/PHPCompatibilityWP -->
    <rule ref="PHPCompatibilityWP"/>

    <!-- Rules: WordPress Coding Standards -->
    <!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
    <!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties -->
    <config name="minimum_supported_wp_version" value="6.4"/>
    <rule ref="WordPress-Extra"/>
    <rule ref="WordPress">
        <exclude name="Generic.WhiteSpace.DisallowSpaceIndent"/>
    </rule>
    <rule ref="WordPress.WP.I18n">
        <properties>
            <!-- Value: replace the text domain used. -->
            <property name="text_domain" type="array" value="dokan-lite"/>
        </properties>
    </rule>
    <rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
        <properties>
            <property name="blank_line_check" value="true"/>
        </properties>
    </rule>

    <rule ref="Squiz.Commenting">
        <severity>0</severity>
    </rule>
    <rule ref="PEAR.Functions.FunctionCallSignature.MultipleArguments">
        <severity>0</severity>
    </rule>
    <rule ref="Generic.Commenting.DocComment.SpacingBeforeTags">
        <severity>0</severity>
    </rule>
    <rule ref="WordPress.Files.FileName">
        <severity>0</severity>
    </rule>
    <rule ref="WordPress.PHP.DevelopmentFunctions">
        <severity>0</severity>
    </rule>
    <rule ref="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid">
        <severity>0</severity>
    </rule>
    <rule ref="WordPress.Arrays.MultipleStatementAlignment.DoubleArrowNotAligned">
        <severity>0</severity>
    </rule>
    <rule ref="Generic.Formatting.MultipleStatementAlignment.NotSameWarning">
        <severity>0</severity>
    </rule>
    <rule ref="Generic.Commenting.DocComment.MissingShort">
        <severity>0</severity>
    </rule>
    <rule ref="WordPress.PHP.YodaConditions.NotYoda">
        <severity>0</severity>
    </rule>
    <rule ref="Generic.Functions.OpeningFunctionBraceKernighanRitchie.ContentAfterBrace">
        <severity>0</severity>
    </rule>
    <rule ref="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceAfterCloseParenthesis">
        <severity>0</severity>
    </rule>
    <rule ref="WordPress.Arrays.ArrayDeclarationSpacing.AssociativeArrayFound">
        <type>warning</type>
    </rule>
    <rule ref="WordPress.DB.DirectDatabaseQuery.NoCaching">
        <severity>0</severity>
    </rule>
    <rule ref="WordPress.PHP.StrictInArray.MissingTrueStrict">
        <type>error</type>
    </rule>
    <rule ref="Universal.Operators.StrictComparisons">
        <type>error</type>
    </rule>
    <rule ref="WordPress.DB.DirectDatabaseQuery.DirectQuery">
        <severity>0</severity>
    </rule>
    <rule ref="WordPress.DB.PreparedSQL.NotPrepared">
        <type>warning</type>
    </rule>
    <rule ref="WordPress.Security.EscapeOutput.OutputNotEscaped">
        <severity>0</severity>
    </rule>
    <rule ref="WordPress.PHP.DevelopmentFunctions.error_log_var_export">
        <severity>0</severity>
    </rule>
    <rule ref="Universal.Arrays.DisallowShortArraySyntax">
        <severity>0</severity>
    </rule>

    <!-- Ref: https://github.com/WordPress/WordPress-Coding-Standards/wiki/Sanitizing-array-input-data -->
    <rule ref="WordPress.Security.ValidatedSanitizedInput">
        <properties>
            <property name="customSanitizingFunctions" type="array">
                <element value="wc_clean"/>
                <element value="dokan_sanitize_phone_number"/>
            </property>
        </properties>
    </rule>
    <rule ref="Squiz.PHP.CommentedOutCode.Found">
        <severity>0</severity>
    </rule>

    <!-- Define the custom capability for woocommerce -->
    <!-- Ref: https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/phpcs.xml#L57 -->
    <rule ref="WordPress.WP.Capabilities">
        <properties>
            <property name="custom_capabilities" type="array">
                <element value="download_file"/>
                <element value="read_product"/>
                <element value="edit_products"/>
                <element value="edit_private_products"/>
                <element value="edit_others_products"/>
                <element value="edit_product"/>
                <element value="publish_shop_orders"/>
                <element value="edit_shop_orders"/>
                <element value="edit_others_shop_orders"/>
                <element value="view_order"/>
                <element value="pay_for_order"/>
                <element value="order_again"/>
                <element value="cancel_order"/>
                <element value="read_private_shop_orders"/>
                <element value="customer"/>
                <element value="manage_woocommerce"/>
                <element value="manage_product_terms"/>
                <element value="view_woocommerce_reports"/>
                <element value="dokandar"/>
                <element value="dokan_view_sales_overview"/>
                <element value="dokan_view_sales_report_chart"/>
                <element value="dokan_view_announcement"/>
                <element value="dokan_view_order_report"/>
                <element value="dokan_view_review_reports"/>
                <element value="dokan_view_product_status_report"/>
                <element value="dokan_view_overview_report"/>
                <element value="dokan_view_daily_sale_report"/>
                <element value="dokan_view_top_selling_report"/>
                <element value="dokan_view_top_earning_report"/>
                <element value="dokan_view_statement_report"/>
                <element value="dokan_view_order"/>
                <element value="dokan_manage_order"/>
                <element value="dokan_manage_order_note"/>
                <element value="dokan_manage_refund"/>
                <element value="dokan_export_order"/>
                <element value="dokan_add_coupon"/>
                <element value="dokan_edit_coupon"/>
                <element value="dokan_delete_coupon"/>
                <element value="dokan_view_reviews"/>
                <element value="dokan_manage_reviews"/>
                <element value="dokan_manage_withdraw"/>
                <element value="dokan_add_product"/>
                <element value="dokan_edit_product"/>
                <element value="dokan_delete_product"/>
                <element value="dokan_view_product"/>
                <element value="dokan_duplicate_product"/>
                <element value="dokan_import_product"/>
                <element value="dokan_export_product"/>
                <element value="dokan_view_overview_menu"/>
                <element value="dokan_view_product_menu"/>
                <element value="dokan_view_order_menu"/>
                <element value="dokan_view_coupon_menu"/>
                <element value="dokan_view_report_menu"/>
                <element value="dokan_view_review_menu"/>
                <element value="dokan_view_withdraw_menu"/>
                <element value="dokan_view_store_settings_menu"/>
                <element value="dokan_view_store_payment_menu"/>
                <element value="dokan_view_store_shipping_menu"/>
                <element value="dokan_view_store_social_menu"/>
                <element value="dokan_view_store_seo_menu"/>
            </property>
        </properties>
    </rule>
</ruleset>
