<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
    <php>
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/phpunit-wp-config.php" />
    </php>
	<testsuites>
		<testsuite name="Dokan Test Suite">
			<directory prefix="" suffix=".php">./tests/</directory>
            <exclude>./tests/phpunit-wp-config.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
