.dokan-layout {
    .dokan-date-range-picker {
        .woocommerce-calendar__react-dates .CalendarDay__selected_span {
            background: var(--dokan-button-background-color, #7047EB) !important;
            border: 1px solid #ccc
        }

        .woocommerce-calendar__react-dates .CalendarDay__selected_span:hover {
            background: var(--dokan-button-hover-background-color, #502BBF) !important;
            border: 1px solid #f0f0f0
        }

        .woocommerce-calendar__react-dates .CalendarDay__selected {
            background: var(--dokan-button-background-color, #7047EB) !important;
            border: 1px solid #ccc
        }

        .woocommerce-calendar__react-dates .CalendarDay__selected:hover {
            background: var(--dokan-button-hover-background-color, #502BBF) !important;
            border: 1px solid #f0f0f0
        }

        .woocommerce-calendar__react-dates .CalendarDay__hovered_span {
            background: var(--dokan-button-hover-background-color, #502BBF) !important;
            border: 1px solid #f0f0f0;
            color: #fff
        }
    }
}
