URL=SiteURL
ADMIN=AdminUsername
ADMIN_PASSWORD=AdminPassword
VENDOR_ONE=VendorUsername
VENDOR_ONE_PASSWORD=VendorPassword
VENDOR_TWO=VendorUsername
VENDOR_TWO_PASSWORD=VendorPassword
CUSTOMER=CustomerUsername
CUSTOMER_PASSWORD=CustomerPassword