# user data
ADMIN=
ADMIN_PASSWORD=
VENDOR=
VENDOR_PASSWORD=
CUSTOMER=
CUSTOMER_PASSWORD=

# Dokan data
GMAP=

# playwright test settings
BASE_URL=
CI=
SLOWMO=
SETUP=


# DB Settings 
DB_HOST_NAME=
DB_USER_NAME=
DB_USER_PASSWORD=
DATABASE=
DB_PORT=
DB_PREFIX=
