{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
        // "prettier"
    ],
    "overrides": [],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
        // "prettier"
    ],
    "rules": {
              // we want single quotes
      "quotes": ["error", "single"],
      // we want to force semicolons
      "semi": ["error", "always"],
      // we use 2 spaces to indent our code
      "indent": ["error", "tab"],
      // we want to avoid extraneous spaces
    //   "no-multi-spaces": ["error"],
    //   "camelcase": "error",
    //   "spaced-comment": "error",
      "no-duplicate-imports": "error"
    },
    "settings": {
        "import/resolver": {
            "typescript": {}
        }
    }
}