{
    "env": {
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended",
        "plugin:playwright/playwright-test"
    ],
    "parserOptions": {
        // Only ESLint 6.2.0 and later support ES2020.
        "ecmaVersion": 2020,
        "sourceType": "module",
        "parser": "@typescript-eslint/parser"

    },
    "plugins": [
        "@typescript-eslint"
    ]
    // ,
    // "rules": {
    //     "node/exports-style": ["error", "module.exports"],
    //     "node/file-extension-in-import": ["error", "always"],
    //     "node/prefer-global/buffer": ["error", "always"],
    //     "node/prefer-global/console": ["error", "always"],
    //     "node/prefer-global/process": ["error", "always"],
    //     "node/prefer-global/url-search-params": ["error", "always"],
    //     "node/prefer-global/url": ["error", "always"],
    //     "node/prefer-promises/dns": "error",
    //     "node/prefer-promises/fs": "error"
    // }

}