# Plugin Configuration
ADMIN=John_Doe                          [Admin username]
ADMIN_PASSWORD=AdminPass123             [Password for the admin account]
VENDOR=David_Johnson                    [Vendor username]
VENDOR2=jhonathon_Smith                 [Vendor username]
CUSTOMER=Michael_Williams               [Customer username]
USER_PASSWORD=Passw0rd123               [Password for all other users]
DOKAN_PRO=true                          [Dokan pro active status]
LICENSE_KEY=licence_key                 [Dokan License key]
GMAP=map_key                            [Google Maps API key]
TALKJS_APP_ID=talkjs_app_id             [TalkJS App ID]
TALKJS_APP_SECRET=talkjs_app_secret     [TalkJS App Secret]
VONAGE_API_KEY=vonage_key               [Vonage SMS API key]
VONAGE_API_SECRET=vonage_secret         [Vonage SMS API secret]
FB_APP_ID=facebook_app_id               [Facebook App ID]
FB_APP_SECRET=facebook_app_secret       [Facebook App secret]
PRINTFUL_APP_ID=facebook_app_id         [Printful App ID]
PRINTFUL_APP_SECRET=facebook_app_secret [Printful App secret]

# Playwright Configuration              
BASE_URL=https://example.com            [Base URL of the test site]
CI=true                                 [CI/CD environment indicator]
SLOWMO=10                               [Slow down test execution by provided seconds] [optional]
NO_SETUP=true                           [Whether not to run setup tests before actual tests] [optional]
LOCAL=true                              [Local testing indicator] [optional]
NON_HEADLESS=true                       [browser mode indicator] [optional]
SITE_PATH=/users/rk/sites/dokan         [Path of the local test site][only for local testing]

# Database Configuration                
DB_HOST_NAME=localhost                  [Database server hostname or IP address]
DB_USER_NAME=dbuser                     [Database username]
DB_USER_PASSWORD=dbpassword             [Database user password]
DATABASE=mywpdb                         [Database name]
DB_PORT=3306                            [Database connection port]
DB_PREFIX=wp                            [Prefix for database tables]