# Plugin Configuration
ADMIN=John_Doe                          [Admin username]
ADMIN_PASSWORD=AdminPass123             [Password for the admin account]
VENDOR=David_Johnson                    [Vendor username]
VENDOR2=jhonathon_Smith                 [Vendor username]
CUSTOMER=Michael_Williams               [Customer username]
USER_PASSWORD=Passw0rd123               [Password for all other users]
GMAP=ABCD1234EFGH5678                   [Google Maps API key]
LICENSE_KEY=ABCD1234EFGH5678            [Dokan License key]
DOKAN_PRO=true                          [Dokan pro active status]

# Playwright Configuration              
BASE_URL=https://example.com            [Base URL of the test site]
CI=true                                 [CI/CD environment indicator]
SLOWMO=10                               [Slow down test execution by provided seconds] [optional]
NO_SETUP=true                           [Whether not to run setup tests before actual tests] [optional]
LOCAL=true                              [Local testing indicator] [optional]
SITE_PATH=/users/rk/sites/dokan         [Path of the local test site][only for local testing]

# Database Configuration                
DB_HOST_NAME=localhost                  [Database server hostname or IP address]
DB_USER_NAME=dbuser                     [Database username]
DB_USER_PASSWORD=dbpassword             [Database user password]
DATABASE=mywpdb                         [Database name]
DB_PORT=3306                            [Database connection port]
DB_PREFIX=wp                            [Prefix for database tables]