{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
        // "prettier"
    ],
    "overrides": [],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        // "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
        // "prettier"
    ],
    "rules": {
    
    // we want to avoid extraneous spaces
    //   "no-multi-spaces": ["error"],
    //   "camelcase": "error",
    //   "spaced-comment": "error",
      "no-duplicate-imports": "error",
    //   "require-await": "error",
    // "@typescript-eslint/require-await": "error",
    // "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    // "no-var-requires": "off",
    "@typescript-eslint/no-var-requires": "off",


    //Layout & Formatting 
    // "array-bracket-newline": ["error", "never"],
    // "array-bracket-spacing": ["error", "never"],
    // "array-element-newline": ["error", "never"],
    // "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    // "block-spacing": "error",
    // "brace-style": ["error", "stroustrup"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "indent": ["error", "tab"],
    // "no-multi-spaces": "error",
    // "no-multiple-empty-lines": "error",
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0 }],
    "no-trailing-spaces": "error",
    // "no-whitespace-before-property": "error",
    // "object-curly-newline": ["error", "always"],
    // "object-curly-newline": ["error", { "minProperties": 2,"ImportDeclaration": "never", "ExportDeclaration": "never" }],
    // "object-curly-newline": ["error", { "ImportDeclaration": "never", "ExportDeclaration": "never" }],
    // "object-curly-newline": ["error", "never", { "consistent": true }],
    // "object-curly-newline": ["error", { "minProperties": 1 }],
    // "object-curly-newline": ["error", { "multiline": true ,"minProperties": 2 }],
    "object-curly-spacing": ["error", "always", {"arraysInObjects": true, "objectsInObjects": true}],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "arrow-body-style": ["error", "as-needed"],

    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "switch-colon-spacing": ["error", {"after": false, "before": true}]
    },
    "settings": {
        "import/resolver": {
            "typescript": {}
        }
    }
}