# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
php_value max_execution_time 300
php_value max_input_time 300
php_value max_input_vars 10000
php_value memory_limit 1G
php_value post_max_size 1G
php_value upload_max_filesize 1G
<IfModule mod_php7.c>
    php_flag opcache.enable Off
</IfModule>
# END WordPress