@tailwind base;
@tailwind components;
@tailwind utilities;

.dokan-ai-prompt-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    height: 24px;
    display: flex;
    width: 24px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.dokan-ai-modal button.absolute {
    background: transparent;
}
body:has(.dokan-ai-prompt-icon) .mce-path {
    padding: 10px;
}
body:has(.dokan-ai-modal) .z-10[aria-modal="true"][data-headlessui-state="open"] {
    z-index: 1000;
}
