.dokan-dashboard-content:has(.dokan-product-form-manager) {
    background-color: #f0f0f1;
}

.dokan-product-form-manager {
    .components-card-header,
    .components-card-body {
        padding: 20px !important;
    }
    .dataforms-layouts-card__field-header {
        border-bottom: 1px solid #ddd !important;
    }
    legend.components-base-control__label {
        margin-left: 0 !important;
    }
    .flex {
        display: flex;
    }
    .flex-col {
        flex-direction: column;
    }
    .gap-1 {
        gap: 0.25rem;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .form-manager-price-input {
        background: white;
        border: 1px solid #e1e1e1;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left: none !important;
    }

    .dokan-product-image_id-field {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 232px;
        width: 232px;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        img {
            height: 232px;
            width: 232px;
            border-radius: 5px;
            object-fit: cover;
        }
    }
    .dokan-product-image_id,
    .dokan-product-gallery_image_ids {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .dokan-product-gallery_image_ids-field {
        display: flex;
        align-items: center;
        flex-direction: row !important;
    }
    .dokan-product-gallery_image_ids {
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: row;
        height: 110px;
        width: 110px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .woocommerce-tree-select-control__control {
        padding: 5px 10px;
    }
    .dokan-form-card-title {
        font-size: 14px;
        font-weight: 600;
        color: #25252d;
    }
    .dokan-form-card-description {
        font-size: 14px;
        font-weight: 400;
        color: #828282;
    }
}
