.dokan-dashboard-content:has(.dokan-product-form-manager) {
    background-color: #f0f0f1;
}

.dokan-product-form-manager {
    .components-card-header,
    .components-card-body {
        padding: 20px !important;
    }
    .dataforms-layouts-card__field-header {
        border-bottom: 1px solid #ddd !important;
    }
    .flex {
        display: flex;
    }
    .flex-col {
        flex-direction: column;
    }
    .gap-1 {
        gap: 0.25rem;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .form-manager-price-input {
        background: white;
        border: 1px solid rgb(209 213 219 / var(--tw-border-opacity, 1));
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left: none;
        &:focus {
            border-color: var(--dokan-button-border-color) !important;
            outline: none;
        }
    }
}
