@use '../../base-tailwind';
@config './admin-dashboard-tailwind.config.js';
// Define custom animation keyframes

@keyframes completeStep {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-complete-step {
    animation: completeStep 0.9s ease-in-out;
}
 .dokan-lite-module-select-category-popover {
     @apply top-5 !important;
 }

#dokan-tab-settings,
#dokan-tab-menu_manager {
    .components-tab-panel__tabs {
        border-bottom: none;
    }

    .components-tab-panel__tabs-item {
        border-bottom-width: 3px !important;
    }
}
