@use '../../base-tailwind';
@config './admin-dashboard-tailwind.config.js';
// Define custom animation keyframes

@keyframes completeStep {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-complete-step {
    animation: completeStep 0.9s ease-in-out;
}

#dokan-admin-dashboard {
    .dokan-dashboard-datatable {
        .dataviews-wrapper {
            .dataviews__view-actions {
                display: none;
            }
        }
    }

    .dataviews-view-table__actions-column {
        .components-button {
            &:hover {
                background: transparent;
            }

            &:focus {
                box-shadow: none;
            }
        }
    }

    .dataviews-view-table__row {
        td {
            vertical-align: middle;
        }
    }

    table.dataviews-view-table {
        th {
            background-color: #f9fafb;
        }
    }

    .dataviews-wrapper {
        .dataviews-no-results {
            color: #6b7280;
        }

        .dataviews-no-results {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}

#dokan-admin-dashboard {
    .dataviews-view-table {
        .dataviews-view-table__actions-column {
            .components-button {
                &:first-child {
                    margin-right: 16px;
                }
            }
        }
    }
}

#dokan-admin-dashboard {
    .dataviews-wrapper {
        background-color: #ffffff;
        .dataviews-loading {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}
