/* Module-specific styles - Tailwind loaded via dokan-tailwind bundle */
// Define custom animation keyframes

@keyframes completeStep {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-complete-step {
    animation: completeStep 0.9s ease-in-out;
}
.dokan-lite-module-select-category-popover {
    top: 1.25rem !important;
}

#dokan-admin-dashboard {
    .dokan-dashboard-datatable {
        z-index: 0;
        position: relative;

        .dataviews-wrapper {
            .dataviews__view-actions {
                display: none;
            }
        }
    }

    .dataviews-view-table__actions-column {
        .components-button {
            &:hover {
                background: transparent;
            }

            &:focus {
                box-shadow: none;
            }
        }
    }

    .dataviews-view-table__row {
        td {
            vertical-align: middle;
        }
    }

    table.dataviews-view-table {
        border: 1px solid #e9e9e9;
        th {
            background-color: #f9fafb;
            border-bottom: 1px solid #e9e9e9;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }

    .dataviews-wrapper {
        .dataviews-no-results {
            color: #6b7280;
        }

        .dataviews-no-results {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    #reverse-withdrawal-data-view {
        .dataviews-view-table__row {
            th {
                &:first-child {
                    width: 75%;
                }
            }
        }

        #dokan-admin-tab-reverse_withdrawal_data_view {
            .components-tab-panel__tabs {
                button:first-child {
                    border: 0;
                }
            }
        }
    }

    #reverse-withdrawal-transactions {
        #dokan-admin-tab-reverse_withdrawal_transactions {
            .components-tab-panel__tabs {
                button:first-child {
                    border: 0;
                }
            }
        }
    }
}

#dokan-admin-dashboard {
    .dataviews-view-table {
        .dataviews-view-table__actions-column {
            .components-button {
                &:first-child {
                    margin-right: 16px;
                }
            }
        }
    }
}

#dokan-admin-dashboard {
    .dataviews-wrapper {
        background-color: #ffffff;
        .dataviews-loading {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}
