.dokan-spinner {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../images/spinner-2x.gif') center center no-repeat;
  z-index: 99;
  background-size: 20px;
}
.tooltip {
  position: absolute;
  z-index: 9999;
  display: block;
  visibility: visible;
  line-height: 1.3;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 10px !important;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  font-weight: normal !important;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.dokan-admin-header {
  background: #fff;
  padding: 15px 15px 15px 22px;
  margin: 0 0 0 -20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dokan-admin-header .dokan-admin-header-logo {
  display: flex;
}
.dokan-admin-header .dokan-admin-header-logo img {
  height: 25px;
  width: auto;
  margin-right: 12px;
}
.dokan-admin-header .dokan-admin-header-logo span {
  color: #F1634C;
  background: #FFF4F2;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 500;
  font-family: "SF Pro Text", sans-serif;
  border: 1px solid rgba(241, 99, 76, 0.2);
  border-radius: 93px;
}
.dokan-admin-header .dokan-admin-header-menu {
  padding-right: 6px;
  display: flex;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item {
  position: relative;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item {
  background-color: #e4e6eb;
  border-radius: 53px;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: all 0.1s linear;
  padding: 9px;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .notification-count {
  position: absolute;
  top: -1px;
  right: -5px;
  width: 15px;
  height: 15px;
  padding: 1px;
  background-color: #ff5a40;
  border-radius: 53px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .whats-new-pointer {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 6px;
  background-color: #ff5a40;
  border-radius: 53px;
  border: 2px solid #fff;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item:hover {
  background-color: #0c5f9a;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item:hover .icon-question-mark {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 10 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6.0285 9.7978h-2.444c-0.10849 0-0.20358 0.04098-0.28504 0.1223-0.08154 0.08155-0.12223 0.17645-0.12223 0.28515v2.444c0 0.1087 0.04083 0.2038 0.12223 0.2851 0.08146 0.0813 0.17644 0.1222 0.28504 0.1222h2.444c0.10849 0 0.20383-0.0408 0.28497-0.1222 0.08168-0.0813 0.12245-0.1764 0.12245-0.2851v-2.444c0-0.1087-0.04066-0.2036-0.12245-0.28515-0.08114-0.08153-0.17648-0.1223-0.28497-0.1223z' fill='%23fff'/%3E%3Cpath d='m9.2363 2.4817c-0.27841-0.51281-0.63811-0.94538-1.0795-1.2985-0.44109-0.35296-0.937-0.63483-1.4868-0.84519-0.54987-0.21029-1.0963-0.31558-1.6395-0.31558-2.0636 0-3.6386 0.9029-4.7248 2.7087-0.054249 0.08821-0.072974 0.18322-0.056032 0.28509 0.017048 0.10172 0.069657 0.1866 0.1579 0.25448l1.6701 1.273c0.08824 0.05421 0.17313 0.08135 0.25463 0.08135 0.12223 0 0.22737-0.05439 0.31572-0.163 0.4887-0.61089 0.85197-1.0012 1.0895-1.171 0.29197-0.19681 0.65845-0.29518 1.0997-0.29518 0.41409 0 0.77889 0.10864 1.0947 0.32571 0.31565 0.21728 0.47334 0.46848 0.47334 0.7536 0 0.31893-0.08471 0.57702-0.25448 0.7739-0.16967 0.19681-0.4549 0.3868-0.85551 0.57017-0.52936 0.23757-1.015 0.6059-1.456 1.1049-0.44137 0.49901-0.6619 1.0302-0.6619 1.5937v0.4582c0 0.12912 0.03545 0.25634 0.10686 0.38192 0.07133 0.12569 0.15782 0.18843 0.25972 0.18843h2.4439c0.10864 0 0.20359-0.0525 0.28512-0.15807 0.08128-0.10493 0.12219-0.21529 0.12219-0.33053 0-0.16966 0.09334-0.39732 0.27988-0.6823 0.18671-0.28512 0.41915-0.50597 0.69771-0.66215 0.26461-0.1493 0.47148-0.26964 0.62099-0.36141 0.14966-0.09152 0.34469-0.2395 0.58576-0.44302 0.24096-0.20373 0.42768-0.40571 0.55989-0.6059 0.13243-0.20024 0.25131-0.45996 0.35653-0.77911 0.10543-0.31903 0.15793-0.6619 0.15793-1.0284-7e-5 -0.56347-0.13935-1.1014-0.41752-1.6137z' fill='%23fff'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item:hover .icon-notification-bell {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 13 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.956 10.374c-0.8724-0.73737-1.3726-1.8151-1.3726-2.957v-1.6086c0-2.0303-1.5082-3.711-3.4618-3.9926v-0.62312c0-0.31906-0.25848-0.57696-0.57697-0.57696-0.31848 0-0.57696 0.2579-0.57696 0.57696v0.62312c-1.9542 0.28156-3.4618 1.9622-3.4618 3.9926v1.6086c0 1.1418-0.50023 2.2196-1.3778 2.9616-0.22444 0.1921-0.3531 0.4714-0.3531 0.7668 0 0.5568 0.45292 1.0097 1.0097 1.0097h9.5199c0.5567 0 1.0096-0.4529 1.0096-1.0097 0-0.2954-0.1286-0.5747-0.3582-0.7714z' fill='%23fff'/%3E%3Cpath d='m6.545 14.463c1.0449 0 1.919-0.7448 2.1198-1.7309h-4.2395c0.20079 0.9861 1.0749 1.7309 2.1198 1.7309z' fill='%23fff'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dokan-icon {
  padding: 9px;
  background-repeat: no-repeat;
  background-position: center;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .icon-question-mark {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 10 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6.0285 9.7978h-2.444c-0.10849 0-0.20358 0.04098-0.28504 0.1223-0.08154 0.08155-0.12223 0.17645-0.12223 0.28515v2.444c0 0.1087 0.04083 0.2038 0.12223 0.2851 0.08146 0.0813 0.17644 0.1222 0.28504 0.1222h2.444c0.10849 0 0.20383-0.0408 0.28497-0.1222 0.08168-0.0813 0.12245-0.1764 0.12245-0.2851v-2.444c0-0.1087-0.04066-0.2036-0.12245-0.28515-0.08114-0.08153-0.17648-0.1223-0.28497-0.1223z' fill='%23A3A3A3'/%3E%3Cpath d='m9.2363 2.4817c-0.27841-0.51281-0.63811-0.94538-1.0795-1.2985-0.44109-0.35296-0.937-0.63483-1.4868-0.84519-0.54987-0.21029-1.0963-0.31558-1.6395-0.31558-2.0636 0-3.6386 0.9029-4.7248 2.7087-0.054249 0.08821-0.072974 0.18322-0.056032 0.28509 0.017048 0.10172 0.069657 0.1866 0.1579 0.25448l1.6701 1.273c0.08824 0.05421 0.17313 0.08135 0.25463 0.08135 0.12223 0 0.22737-0.05439 0.31572-0.163 0.4887-0.61089 0.85197-1.0012 1.0895-1.171 0.29197-0.19681 0.65845-0.29518 1.0997-0.29518 0.41409 0 0.77889 0.10864 1.0947 0.32571 0.31565 0.21728 0.47334 0.46848 0.47334 0.7536 0 0.31893-0.08471 0.57702-0.25448 0.7739-0.16967 0.19681-0.4549 0.3868-0.85551 0.57017-0.52936 0.23757-1.015 0.6059-1.456 1.1049-0.44137 0.49901-0.6619 1.0302-0.6619 1.5937v0.4582c0 0.12912 0.03545 0.25634 0.10686 0.38192 0.07133 0.12569 0.15782 0.18843 0.25972 0.18843h2.4439c0.10864 0 0.20359-0.0525 0.28512-0.15807 0.08128-0.10493 0.12219-0.21529 0.12219-0.33053 0-0.16966 0.09334-0.39732 0.27988-0.6823 0.18671-0.28512 0.41915-0.50597 0.69771-0.66215 0.26461-0.1493 0.47148-0.26964 0.62099-0.36141 0.14966-0.09152 0.34469-0.2395 0.58576-0.44302 0.24096-0.20373 0.42768-0.40571 0.55989-0.6059 0.13243-0.20024 0.25131-0.45996 0.35653-0.77911 0.10543-0.31903 0.15793-0.6619 0.15793-1.0284-7e-5 -0.56347-0.13935-1.1014-0.41752-1.6137z' fill='%23A3A3A3'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .icon-notification-bell {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 13 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.956 10.374c-0.8724-0.73737-1.3726-1.8151-1.3726-2.957v-1.6086c0-2.0303-1.5082-3.711-3.4618-3.9926v-0.62312c0-0.31906-0.25848-0.57696-0.57697-0.57696-0.31848 0-0.57696 0.2579-0.57696 0.57696v0.62312c-1.9542 0.28156-3.4618 1.9622-3.4618 3.9926v1.6086c0 1.1418-0.50023 2.2196-1.3778 2.9616-0.22444 0.1921-0.3531 0.4714-0.3531 0.7668 0 0.5568 0.45292 1.0097 1.0097 1.0097h9.5199c0.5567 0 1.0096-0.4529 1.0096-1.0097 0-0.2954-0.1286-0.5747-0.3582-0.7714z' fill='%23A3A3A3'/%3E%3Cpath d='m6.545 14.463c1.0449 0 1.919-0.7448 2.1198-1.7309h-4.2395c0.20079 0.9861 1.0749 1.7309 2.1198 1.7309z' fill='%23A3A3A3'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 48px;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown {
  position: absolute;
  cursor: context-menu;
  top: 80px;
  right: -10px;
  z-index: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 6px 12px rgba(129, 129, 129, 0.06);
  width: 255px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown:before,
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown:after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -9px;
  right: 18px;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown:before {
  border-bottom: 10px solid #e2e2e2;
  margin-top: -1px;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown:after {
  border-bottom: 10px solid white;
  margin-top: 0;
  z-index: 1;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown h3 {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  font-family: "SF Pro Text", sans-serif;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item {
  margin-top: 13px;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  font-family: "SF Pro Text", sans-serif;
  text-decoration: none;
  transition: all 0.2s linear;
  margin-bottom: 10px;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a:last-child {
  margin-bottom: 0;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a.active {
  color: #dd452c;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a.active .dokan-icon {
  background-color: rgba(221, 69, 44, 0.15);
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a.active .dokan-icon .icon-whats-new {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 17 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7.7144 0.71191h2.2965v2.7688h-2.2965v-2.7688z' fill='%23F1634C'/%3E%3Cpath d='m7.7144 4.5464h2.2965v1.4204h-2.2965v-1.4204z' fill='%23F1634C'/%3E%3Cpath d='m1.7559 4.5464v5.0826c0.33035 0.06257 0.6432 0.22862 0.88729 0.49357l1.7593 1.9096c0.0045 0.0049 0.00931 0.0095 0.01391 0.0143v-0.3886c0-0.8172 0.66483-1.482 1.482-1.482h2.4636c0.30588 0.0346 1.1158-0.42879 1.3951-0.53983 1.1858-0.55126 2.5354-0.52947 3.7027 0.05975l0.7099 0.36058c0.1989-0.63839 0.7696-1.1009 1.4412-1.1009h0.421v-4.4091h-4.9546v1.9533c0 0.29429-0.2386 0.53285-0.5329 0.53285h-3.3622c-0.29429 0-0.53285-0.23856-0.53285-0.53285v-1.9533h-4.8933z' fill='%23F1634C'/%3E%3Cpath d='m11.077 3.4807h4.9547v-2.0297c0-0.4082-0.275-0.73909-0.6142-0.73909h-4.3405v2.7688z' fill='%23F1634C'/%3E%3Cpath d='m15.611 10.021c-0.2487 0-0.4509 0.2387-0.4509 0.5321v4.7632c0 0.2933 0.2023 0.532 0.4509 0.532h0.8417c0.2486 0 0.4509-0.2387 0.4509-0.532v-4.7632c0-0.2934-0.2023-0.5321-0.4509-0.5321h-0.8417z' fill='%23F1634C'/%3E%3Cpath d='m6.6492 0.71191h-4.383c-0.28187 0-0.5104 0.275-0.5104 0.61423v2.1546h4.8934v-2.7688z' fill='%23F1634C'/%3E%3Cpath d='m1.8593 10.844c-0.4708-0.4708-1.2722 0.1446-0.82441 0.6922l2.4 2.9095c0.81479 0.9878 2.0165 1.5543 3.2969 1.5543h2.7146c1.0081 0 2.0164-0.1184 2.997-0.3519l1.6507-0.3948v-4.0406l-1.1159-0.5668c-0.8731-0.4407-1.884-0.457-2.772-0.0442l-0.9491 0.4413c-0.27854 0.1295-0.58814 0.1979-0.8953 0.1979h-2.4636c-0.22956 0-0.41633 0.1868-0.41633 0.4164v0.8071h4.7853c0.2943 0 0.5329 0.2386 0.5329 0.5329s-0.2386 0.5328-0.5329 0.5328h-4.8775c-0.6182 0.0075-1.3284-0.2821-1.7712-0.7765l-1.7593-1.9096z' fill='%23F1634C'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a.active:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #dd452c;
  border-radius: 53px;
  margin-left: 10px;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a:focus {
  box-shadow: none;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a:hover {
  color: #dd452c;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a:hover .dokan-icon {
  background: rgba(221, 69, 44, 0.15);
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a:hover .dokan-icon .icon-whats-new {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 17 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7.7144 0.71191h2.2965v2.7688h-2.2965v-2.7688z' fill='%23F1634C'/%3E%3Cpath d='m7.7144 4.5464h2.2965v1.4204h-2.2965v-1.4204z' fill='%23F1634C'/%3E%3Cpath d='m1.7559 4.5464v5.0826c0.33035 0.06257 0.6432 0.22862 0.88729 0.49357l1.7593 1.9096c0.0045 0.0049 0.00931 0.0095 0.01391 0.0143v-0.3886c0-0.8172 0.66483-1.482 1.482-1.482h2.4636c0.30588 0.0346 1.1158-0.42879 1.3951-0.53983 1.1858-0.55126 2.5354-0.52947 3.7027 0.05975l0.7099 0.36058c0.1989-0.63839 0.7696-1.1009 1.4412-1.1009h0.421v-4.4091h-4.9546v1.9533c0 0.29429-0.2386 0.53285-0.5329 0.53285h-3.3622c-0.29429 0-0.53285-0.23856-0.53285-0.53285v-1.9533h-4.8933z' fill='%23F1634C'/%3E%3Cpath d='m11.077 3.4807h4.9547v-2.0297c0-0.4082-0.275-0.73909-0.6142-0.73909h-4.3405v2.7688z' fill='%23F1634C'/%3E%3Cpath d='m15.611 10.021c-0.2487 0-0.4509 0.2387-0.4509 0.5321v4.7632c0 0.2933 0.2023 0.532 0.4509 0.532h0.8417c0.2486 0 0.4509-0.2387 0.4509-0.532v-4.7632c0-0.2934-0.2023-0.5321-0.4509-0.5321h-0.8417z' fill='%23F1634C'/%3E%3Cpath d='m6.6492 0.71191h-4.383c-0.28187 0-0.5104 0.275-0.5104 0.61423v2.1546h4.8934v-2.7688z' fill='%23F1634C'/%3E%3Cpath d='m1.8593 10.844c-0.4708-0.4708-1.2722 0.1446-0.82441 0.6922l2.4 2.9095c0.81479 0.9878 2.0165 1.5543 3.2969 1.5543h2.7146c1.0081 0 2.0164-0.1184 2.997-0.3519l1.6507-0.3948v-4.0406l-1.1159-0.5668c-0.8731-0.4407-1.884-0.457-2.772-0.0442l-0.9491 0.4413c-0.27854 0.1295-0.58814 0.1979-0.8953 0.1979h-2.4636c-0.22956 0-0.41633 0.1868-0.41633 0.4164v0.8071h4.7853c0.2943 0 0.5329 0.2386 0.5329 0.5329s-0.2386 0.5328-0.5329 0.5328h-4.8775c-0.6182 0.0075-1.3284-0.2821-1.7712-0.7765l-1.7593-1.9096z' fill='%23F1634C'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a:hover .dokan-icon .icon-get-support {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 15 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4.1533 6.919c-0.77544 0-1.4062 0.63081-1.4062 1.4062v3.8125c0 0.7754 0.63081 1.4062 1.4062 1.4062s1.4062-0.6308 1.4062-1.4062v-3.8125c0-0.77544-0.63081-1.4062-1.4062-1.4062z' fill='%23F1634C'/%3E%3Cpath d='m1.8096 8.3255c0-0.13522 0.01784-0.26585 0.03994-0.39482-0.56494 0.1826-0.97744 0.70735-0.97744 1.3323v1.9375c0 0.6249 0.4125 1.1497 0.97744 1.3323-0.0221-0.129-0.03994-0.2596-0.03994-0.3948v-3.8125z' fill='%23F1634C'/%3E%3Cpath d='m11.653 6.919c-0.7754 0-1.4062 0.63081-1.4062 1.4062v3.8125c0 0.7754 0.6308 1.4062 1.4062 1.4062 0.141 0 0.2745-0.0271 0.4029-0.0658-0.1745 0.5784-0.7058 1.0033-1.3404 1.0033h-1.4926c-0.19416-0.5444-0.7096-0.9375-1.3199-0.9375-0.77544 0-1.4062 0.6309-1.4062 1.4063s0.63081 1.4062 1.4062 1.4062c0.61031 0 1.1258-0.393 1.3199-0.9375h1.4926c1.2923 0 2.3438-1.0514 2.3438-2.3437v-4.75c0-0.77544-0.6308-1.4062-1.4063-1.4062z' fill='%23F1634C'/%3E%3Cpath d='m13.957 7.9307c0.0221 0.12897 0.04 0.2596 0.04 0.39482v3.8125c0 0.1352-0.0179 0.2658-0.04 0.3948 0.565-0.1826 0.9775-0.7074 0.9775-1.3323v-1.9375c0-0.62497-0.4125-1.1497-0.9775-1.3323z' fill='%23F1634C'/%3E%3Cpath d='m7.9033 0.35644c-3.8772 0-7.0312 3.154-7.0312 7.0313v0.01196c0.27928-0.21143 0.60241-0.36615 0.95897-0.43543 0.21909-3.1624 2.8552-5.6703 6.0723-5.6703 3.2171 0 5.8532 2.5078 6.0723 5.6702 0.3565 0.06928 0.6797 0.22403 0.959 0.43543v-0.01193c0-3.8772-3.154-7.0313-7.0313-7.0313z' fill='%23F1634C'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a:hover .dokan-icon .icon-community {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 10 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.9038 0.71427-2.0748-0.003329c-2.331 0-3.8374 1.5455-3.8374 3.9376v1.8155h-2.0862c-0.18027 0-0.32625 0.14614-0.32625 0.32641v2.6305c0 0.18027 0.14615 0.32625 0.32625 0.32625h2.0862v6.6375c0 0.1803 0.14598 0.3262 0.32625 0.3262h2.7218c0.18026 0 0.32624-0.1461 0.32624-0.3262v-6.6375h2.4392c0.18027 0 0.32625-0.14598 0.32625-0.32625l1e-3 -2.6305c0-0.08655-0.03446-0.16945-0.09554-0.2307-0.06109-0.06126-0.14432-0.09571-0.23088-0.09571h-2.44v-1.539c0-0.73972 0.17628-1.1152 1.1399-1.1152l1.3977-5e-4c0.1801 0 0.32608-0.14615 0.32608-0.32625v-2.4425c0-0.17994-0.14582-0.32592-0.32575-0.32625z' fill='%23F1634C'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a:hover .dokan-icon .icon-documentation {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 13 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m2.2158 16.711h9.375c0.7755 0 1.4063-0.6308 1.4063-1.4062v-9.9063h-3.2813c-0.77544 0-1.4062-0.63082-1.4062-1.4062v-3.2813h-6.0938c-0.77544 0-1.4062 0.63081-1.4062 1.4063v13.188c0 0.7754 0.63081 1.4062 1.4062 1.4062zm1.875-9.4062h5.625c0.25909 0 0.46878 0.20965 0.46878 0.46875 0 0.25909-0.20969 0.46875-0.46878 0.46875h-5.625c-0.25909 0-0.46875-0.20966-0.46875-0.46875 0-0.2591 0.20966-0.46875 0.46875-0.46875zm0 1.875h5.625c0.25909 0 0.46878 0.20965 0.46878 0.46875 0 0.25909-0.20969 0.46876-0.46878 0.46876h-5.625c-0.25909 0-0.46875-0.20967-0.46875-0.46876 0-0.2591 0.20966-0.46875 0.46875-0.46875zm0 1.875h5.625c0.25909 0 0.46878 0.2096 0.46878 0.4687s-0.20969 0.4688-0.46878 0.4688h-5.625c-0.25909 0-0.46875-0.2097-0.46875-0.4688s0.20966-0.4687 0.46875-0.4687zm0 1.875h3.75c0.25909 0 0.46875 0.2096 0.46875 0.4687s-0.20966 0.4688-0.46875 0.4688h-3.75c-0.25909 0-0.46875-0.2097-0.46875-0.4688s0.20966-0.4687 0.46875-0.4687z' fill='%23F1634C'/%3E%3Cpath d='m9.7158 4.4607h3.0066l-3.4753-3.4753v3.0066c0 0.25862 0.21013 0.46875 0.46875 0.46875z' fill='%23F1634C'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a:hover .dokan-icon .icon-faq {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16.904 11.184c0-1.9855-1.139-3.7574-2.8449-4.6194-0.053 3.8069-3.1394 6.8933-6.9463 6.9463 0.86194 1.7059 2.6339 2.845 4.6194 2.845 0.9309 0 1.8361-0.248 2.6315-0.719l2.5177 0.6964-0.6964-2.5177c0.4711-0.7954 0.719-1.7007 0.719-2.6316z' fill='%23F1634C'/%3E%3Cpath d='m13.122 6.4658c0-3.3688-2.7406-6.1093-6.1093-6.1093-3.3688 0-6.1094 2.7406-6.1094 6.1093 0 1.0979 0.29224 2.1669 0.84716 3.1053l-0.8247 2.9815 2.9816-0.8246c0.93847 0.5549 2.0074 0.8471 3.1053 0.8471 3.3687 0 6.1093-2.7406 6.1093-6.1093zm-7.0468-1.4219h-0.93749c0-1.0339 0.84106-1.875 1.875-1.875s1.875 0.84106 1.875 1.875c0 0.52478-0.22217 1.0292-0.60974 1.3837l-0.7965 0.729v0.73107h-0.9375v-1.1439l1.1011-1.0078c0.19678-0.18006 0.30517-0.42578 0.30517-0.69202 0-0.51696-0.42053-0.93749-0.93749-0.93749-0.51697 0-0.9375 0.42053-0.9375 0.93749zm0.46875 3.7812h0.9375v0.93749h-0.9375v-0.93749z' fill='%23F1634C'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a:hover .dokan-icon .icon-basic {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 14 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m13.665 3.4265c-0.0503-0.19724-0.2026-0.35238-0.399-0.40615-0.1962-0.05386-0.4059 0.00225-0.5499 0.14616l-1.3072 1.3073c-0.4468 0.44682-1.1732 0.44682-1.62 0-0.44641-0.44641-0.44641-1.1736 0-1.6201l1.3077-1.3078c0.1439-0.14392 0.1995-0.35398 0.1457-0.55018-0.0539-0.1962-0.2088-0.34871-0.406-0.39882-2.4171-0.61427-4.5923 0.96019-4.9913 3.1344-0.1281 0.71605-0.07104 1.4293 0.16332 2.086-0.32595 0.32598-5.3604 5.3604-5.4957 5.4958-0.67186 0.6718-0.67186 1.7649 0.010618 2.4474 0.6761 0.6409 1.7116 0.6678 2.4261-0.0106l5.4958-5.4958c0.88009 0.3141 1.8617 0.30772 2.8222-0.03121 1.7307-0.61071 2.9421-2.6603 2.3977-4.7965z' fill='%23F1634C'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a:hover .dokan-icon .icon-setup-wizard {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16.548 6.9644-1.8353-0.45134c-0.1103-0.34791-0.2522-0.68528-0.4234-1.008 0.2755-0.45869 0.8546-1.4241 0.8546-1.4241 0.1108-0.18447 0.0815-0.42069-0.0705-0.57266l-1.3256-1.3257c-0.152-0.15244-0.3878-0.18172-0.5727-0.0705l-1.4264 0.85466c-0.3209-0.16985-0.6564-0.31038-1.002-0.41978l-0.4514-1.8353c-0.0522-0.20875-0.2394-0.35525-0.45458-0.35525h-1.875c-0.21516 0-0.40284 0.1465-0.45456 0.35522 0 0-0.31266 1.2809-0.45091 1.8348-0.3685 0.11672-0.72462 0.26825-1.0638 0.45319l-1.479-0.8876c-0.18494-0.10987-0.42022-0.08147-0.57266 0.0705l-1.3257 1.3257c-0.15197 0.15197-0.18128 0.38819-0.0705 0.57266l0.91463 1.5276c-0.14741 0.29069-0.271 0.59325-0.36941 0.90315l-1.8353 0.45272c-0.20875 0.05219-0.35525 0.23941-0.35525 0.45457v1.875c0 0.21515 0.1465 0.40284 0.35522 0.45456l1.8358 0.45139c0.11125 0.3529 0.25587 0.6958 0.43122 1.0249l-0.81847 1.3641c-0.11078 0.1845-0.08147 0.4207 0.0705 0.5727l1.3257 1.3257c0.15153 0.1515 0.38772 0.1803 0.57265 0.0705 0 0 0.91782-0.5503 1.3674-0.8194 0.32547 0.1735 0.66603 0.3167 1.0172 0.428l0.45091 1.8348c0.05169 0.2088 0.23937 0.3552 0.45453 0.3552h1.875c0.21518 0 0.40238-0.1465 0.45458-0.3552l0.4509-1.8348c0.3612-0.1145 0.7091-0.2623 1.04-0.4418 0.4619 0.277 1.3889 0.8332 1.3889 0.8332 0.1844 0.1103 0.4207 0.0819 0.5726-0.0705l1.3257-1.3257c0.152-0.152 0.1813-0.3882 0.0705-0.5727l-0.8427-1.404c0.1661-0.3154 0.3039-0.6454 0.4115-0.985l1.8353-0.45139c0.2088-0.05219 0.3552-0.23941 0.3552-0.45456v-1.875c0-0.21516-0.1464-0.40238-0.3552-0.45457zm-7.6448 4.6733c-1.8091 0-3.2812-1.4722-3.2812-3.2812 0-1.8091 1.4722-3.2812 3.2812-3.2812 1.8091 0 3.2813 1.4722 3.2813 3.2812 0 1.809-1.4722 3.2812-3.2813 3.2812z' fill='%23F1634C'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a:hover .dokan-icon .icon-request-feature {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 12 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.3396 1.5463c-1.3382-1.0558-3.0692-1.4364-4.7635-1.0312-1.9643 0.45425-3.548 2.0134-4.0268 3.9655-0.4788 1.9643 0.073662 3.9532 1.4855 5.3404 0.5034 0.50343 0.79805 1.2931 0.79805 2.1035v0.135c0 0.3437 0.27005 0.6139 0.61385 0.6139h4.9108c0.3438 0 0.61385-0.2702 0.61385-0.6139v-0.135c0-0.7981 0.30693-1.6124 0.84711-2.1404 1.0313-1.0435 1.6083-2.4308 1.6083-3.904 0-1.6942-0.7612-3.278-2.0871-4.3338zm-3.4376 2.4923c-0.92609 0-1.6003 0.6143-1.7768 1.3254-0.08034 0.32342-0.40576 0.52984-0.74395 0.4484-0.32849-0.08152-0.52934-0.41484-0.44778-0.74333 0.30414-1.2277 1.4573-2.2582 2.9685-2.2582 0.33929 0 0.61385 0.27455 0.61385 0.61385 0 0.33929-0.27456 0.61384-0.61385 0.61384z' fill='%23F1634C'/%3E%3Cpath d='m3.4468 13.901v0.6138c0 1.0155 0.82607 1.8416 1.8415 1.8416h1.2277c1.0155 0 1.8415-0.8261 1.8415-1.8416v-0.6138h-4.9108z' fill='%23F1634C'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a .dokan-icon {
  padding: 11px;
  background-color: #e4e6eb;
  border-radius: 53px;
  margin-right: 11px;
  transition: all 0.2s linear;
  display: flex;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a .dokan-icon div {
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center;
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a .dokan-icon .icon-whats-new {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 17 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7.7144 0.71191h2.2965v2.7688h-2.2965v-2.7688z' fill='%23A3A3A3'/%3E%3Cpath d='m7.7144 4.5464h2.2965v1.4204h-2.2965v-1.4204z' fill='%23A3A3A3'/%3E%3Cpath d='m1.7559 4.5464v5.0826c0.33035 0.06257 0.6432 0.22862 0.88729 0.49357l1.7593 1.9096c0.0045 0.0049 0.00931 0.0095 0.01391 0.0143v-0.3886c0-0.8172 0.66483-1.482 1.482-1.482h2.4636c0.30588 0.0346 1.1158-0.42879 1.3951-0.53983 1.1858-0.55126 2.5354-0.52947 3.7027 0.05975l0.7099 0.36058c0.1989-0.63839 0.7696-1.1009 1.4412-1.1009h0.421v-4.4091h-4.9546v1.9533c0 0.29429-0.2386 0.53285-0.5329 0.53285h-3.3622c-0.29429 0-0.53285-0.23856-0.53285-0.53285v-1.9533h-4.8933z' fill='%23A3A3A3'/%3E%3Cpath d='m11.077 3.4807h4.9547v-2.0297c0-0.4082-0.275-0.73909-0.6142-0.73909h-4.3405v2.7688z' fill='%23A3A3A3'/%3E%3Cpath d='m15.611 10.021c-0.2487 0-0.4509 0.2387-0.4509 0.5321v4.7632c0 0.2933 0.2023 0.532 0.4509 0.532h0.8417c0.2486 0 0.4509-0.2387 0.4509-0.532v-4.7632c0-0.2934-0.2023-0.5321-0.4509-0.5321h-0.8417z' fill='%23A3A3A3'/%3E%3Cpath d='m6.6492 0.71191h-4.383c-0.28187 0-0.5104 0.275-0.5104 0.61423v2.1546h4.8934v-2.7688z' fill='%23A3A3A3'/%3E%3Cpath d='m1.8593 10.844c-0.4708-0.4708-1.2722 0.1446-0.82441 0.6922l2.4 2.9095c0.81479 0.9878 2.0165 1.5543 3.2969 1.5543h2.7146c1.0081 0 2.0164-0.1184 2.997-0.3519l1.6507-0.3948v-4.0406l-1.1159-0.5668c-0.8731-0.4407-1.884-0.457-2.772-0.0442l-0.9491 0.4413c-0.27854 0.1295-0.58814 0.1979-0.8953 0.1979h-2.4636c-0.22956 0-0.41633 0.1868-0.41633 0.4164v0.8071h4.7853c0.2943 0 0.5329 0.2386 0.5329 0.5329s-0.2386 0.5328-0.5329 0.5328h-4.8775c-0.6182 0.0075-1.3284-0.2821-1.7712-0.7765l-1.7593-1.9096z' fill='%23A3A3A3'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a .dokan-icon .icon-get-support {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 15 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4.1533 6.919c-0.77544 0-1.4062 0.63081-1.4062 1.4062v3.8125c0 0.7754 0.63081 1.4062 1.4062 1.4062s1.4062-0.6308 1.4062-1.4062v-3.8125c0-0.77544-0.63081-1.4062-1.4062-1.4062z' fill='%23A3A3A3'/%3E%3Cpath d='m1.8096 8.3255c0-0.13522 0.01784-0.26585 0.03994-0.39482-0.56494 0.1826-0.97744 0.70735-0.97744 1.3323v1.9375c0 0.6249 0.4125 1.1497 0.97744 1.3323-0.0221-0.129-0.03994-0.2596-0.03994-0.3948v-3.8125z' fill='%23A3A3A3'/%3E%3Cpath d='m11.653 6.919c-0.7754 0-1.4062 0.63081-1.4062 1.4062v3.8125c0 0.7754 0.6308 1.4062 1.4062 1.4062 0.141 0 0.2745-0.0271 0.4029-0.0658-0.1745 0.5784-0.7058 1.0033-1.3404 1.0033h-1.4926c-0.19416-0.5444-0.7096-0.9375-1.3199-0.9375-0.77544 0-1.4062 0.6309-1.4062 1.4063s0.63081 1.4062 1.4062 1.4062c0.61031 0 1.1258-0.393 1.3199-0.9375h1.4926c1.2923 0 2.3438-1.0514 2.3438-2.3437v-4.75c0-0.77544-0.6308-1.4062-1.4063-1.4062z' fill='%23A3A3A3'/%3E%3Cpath d='m13.957 7.9307c0.0221 0.12897 0.04 0.2596 0.04 0.39482v3.8125c0 0.1352-0.0179 0.2658-0.04 0.3948 0.565-0.1826 0.9775-0.7074 0.9775-1.3323v-1.9375c0-0.62497-0.4125-1.1497-0.9775-1.3323z' fill='%23A3A3A3'/%3E%3Cpath d='m7.9033 0.35644c-3.8772 0-7.0312 3.154-7.0312 7.0313v0.01196c0.27928-0.21143 0.60241-0.36615 0.95897-0.43543 0.21909-3.1624 2.8552-5.6703 6.0723-5.6703 3.2171 0 5.8532 2.5078 6.0723 5.6702 0.3565 0.06928 0.6797 0.22403 0.959 0.43543v-0.01193c0-3.8772-3.154-7.0313-7.0313-7.0313z' fill='%23A3A3A3'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a .dokan-icon .icon-community {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 10 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.9038 0.71427-2.0748-0.003329c-2.331 0-3.8374 1.5455-3.8374 3.9376v1.8155h-2.0862c-0.18027 0-0.32625 0.14614-0.32625 0.32641v2.6305c0 0.18027 0.14615 0.32625 0.32625 0.32625h2.0862v6.6375c0 0.1803 0.14598 0.3262 0.32625 0.3262h2.7218c0.18026 0 0.32624-0.1461 0.32624-0.3262v-6.6375h2.4392c0.18027 0 0.32625-0.14598 0.32625-0.32625l1e-3 -2.6305c0-0.08655-0.03446-0.16945-0.09554-0.2307-0.06109-0.06126-0.14432-0.09571-0.23088-0.09571h-2.44v-1.539c0-0.73972 0.17628-1.1152 1.1399-1.1152l1.3977-5e-4c0.1801 0 0.32608-0.14615 0.32608-0.32625v-2.4425c0-0.17994-0.14582-0.32592-0.32575-0.32625z' fill='%23A3A3A3'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a .dokan-icon .icon-documentation {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 13 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m2.2158 16.711h9.375c0.7755 0 1.4063-0.6308 1.4063-1.4062v-9.9063h-3.2813c-0.77544 0-1.4062-0.63082-1.4062-1.4062v-3.2813h-6.0938c-0.77544 0-1.4062 0.63081-1.4062 1.4063v13.188c0 0.7754 0.63081 1.4062 1.4062 1.4062zm1.875-9.4062h5.625c0.25909 0 0.46878 0.20965 0.46878 0.46875 0 0.25909-0.20969 0.46875-0.46878 0.46875h-5.625c-0.25909 0-0.46875-0.20966-0.46875-0.46875 0-0.2591 0.20966-0.46875 0.46875-0.46875zm0 1.875h5.625c0.25909 0 0.46878 0.20965 0.46878 0.46875 0 0.25909-0.20969 0.46876-0.46878 0.46876h-5.625c-0.25909 0-0.46875-0.20967-0.46875-0.46876 0-0.2591 0.20966-0.46875 0.46875-0.46875zm0 1.875h5.625c0.25909 0 0.46878 0.2096 0.46878 0.4687s-0.20969 0.4688-0.46878 0.4688h-5.625c-0.25909 0-0.46875-0.2097-0.46875-0.4688s0.20966-0.4687 0.46875-0.4687zm0 1.875h3.75c0.25909 0 0.46875 0.2096 0.46875 0.4687s-0.20966 0.4688-0.46875 0.4688h-3.75c-0.25909 0-0.46875-0.2097-0.46875-0.4688s0.20966-0.4687 0.46875-0.4687z' fill='%23A3A3A3'/%3E%3Cpath d='m9.7158 4.4607h3.0066l-3.4753-3.4753v3.0066c0 0.25862 0.21013 0.46875 0.46875 0.46875z' fill='%23A3A3A3'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a .dokan-icon .icon-faq {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16.904 11.184c0-1.9855-1.139-3.7574-2.8449-4.6194-0.053 3.8069-3.1394 6.8933-6.9463 6.9463 0.86194 1.7059 2.6339 2.845 4.6194 2.845 0.9309 0 1.8361-0.248 2.6315-0.719l2.5177 0.6964-0.6964-2.5177c0.4711-0.7954 0.719-1.7007 0.719-2.6316z' fill='%23A3A3A3'/%3E%3Cpath d='m13.122 6.4658c0-3.3688-2.7406-6.1093-6.1093-6.1093-3.3688 0-6.1094 2.7406-6.1094 6.1093 0 1.0979 0.29224 2.1669 0.84716 3.1053l-0.8247 2.9815 2.9816-0.8246c0.93847 0.5549 2.0074 0.8471 3.1053 0.8471 3.3687 0 6.1093-2.7406 6.1093-6.1093zm-7.0468-1.4219h-0.93749c0-1.0339 0.84106-1.875 1.875-1.875s1.875 0.84106 1.875 1.875c0 0.52478-0.22217 1.0292-0.60974 1.3837l-0.7965 0.729v0.73107h-0.9375v-1.1439l1.1011-1.0078c0.19678-0.18006 0.30517-0.42578 0.30517-0.69202 0-0.51696-0.42053-0.93749-0.93749-0.93749-0.51697 0-0.9375 0.42053-0.9375 0.93749zm0.46875 3.7812h0.9375v0.93749h-0.9375v-0.93749z' fill='%23A3A3A3'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a .dokan-icon .icon-basic {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 14 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m13.665 3.4265c-0.0503-0.19724-0.2026-0.35238-0.399-0.40615-0.1962-0.05386-0.4059 0.00225-0.5499 0.14616l-1.3072 1.3073c-0.4468 0.44682-1.1732 0.44682-1.62 0-0.44641-0.44641-0.44641-1.1736 0-1.6201l1.3077-1.3078c0.1439-0.14392 0.1995-0.35398 0.1457-0.55018-0.0539-0.1962-0.2088-0.34871-0.406-0.39882-2.4171-0.61427-4.5923 0.96019-4.9913 3.1344-0.1281 0.71605-0.07104 1.4293 0.16332 2.086-0.32595 0.32598-5.3604 5.3604-5.4957 5.4958-0.67186 0.6718-0.67186 1.7649 0.010618 2.4474 0.6761 0.6409 1.7116 0.6678 2.4261-0.0106l5.4958-5.4958c0.88009 0.3141 1.8617 0.30772 2.8222-0.03121 1.7307-0.61071 2.9421-2.6603 2.3977-4.7965z' fill='%23A3A3A3'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a .dokan-icon .icon-setup-wizard {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='none' viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16.548 6.9644-1.8353-0.45134c-0.1103-0.34791-0.2522-0.68528-0.4234-1.008 0.2755-0.45869 0.8546-1.4241 0.8546-1.4241 0.1108-0.18447 0.0815-0.42069-0.0705-0.57266l-1.3256-1.3257c-0.152-0.15244-0.3878-0.18172-0.5727-0.0705l-1.4264 0.85466c-0.3209-0.16985-0.6564-0.31038-1.002-0.41978l-0.4514-1.8353c-0.0522-0.20875-0.2394-0.35525-0.45458-0.35525h-1.875c-0.21516 0-0.40284 0.1465-0.45456 0.35522 0 0-0.31266 1.2809-0.45091 1.8348-0.3685 0.11672-0.72462 0.26825-1.0638 0.45319l-1.479-0.8876c-0.18494-0.10987-0.42022-0.08147-0.57266 0.0705l-1.3257 1.3257c-0.15197 0.15197-0.18128 0.38819-0.0705 0.57266l0.91463 1.5276c-0.14741 0.29069-0.271 0.59325-0.36941 0.90315l-1.8353 0.45272c-0.20875 0.05219-0.35525 0.23941-0.35525 0.45457v1.875c0 0.21515 0.1465 0.40284 0.35522 0.45456l1.8358 0.45139c0.11125 0.3529 0.25587 0.6958 0.43122 1.0249l-0.81847 1.3641c-0.11078 0.1845-0.08147 0.4207 0.0705 0.5727l1.3257 1.3257c0.15153 0.1515 0.38772 0.1803 0.57265 0.0705 0 0 0.91782-0.5503 1.3674-0.8194 0.32547 0.1735 0.66603 0.3167 1.0172 0.428l0.45091 1.8348c0.05169 0.2088 0.23937 0.3552 0.45453 0.3552h1.875c0.21518 0 0.40238-0.1465 0.45458-0.3552l0.4509-1.8348c0.3612-0.1145 0.7091-0.2623 1.04-0.4418 0.4619 0.277 1.3889 0.8332 1.3889 0.8332 0.1844 0.1103 0.4207 0.0819 0.5726-0.0705l1.3257-1.3257c0.152-0.152 0.1813-0.3882 0.0705-0.5727l-0.8427-1.404c0.1661-0.3154 0.3039-0.6454 0.4115-0.985l1.8353-0.45139c0.2088-0.05219 0.3552-0.23941 0.3552-0.45456v-1.875c0-0.21516-0.1464-0.40238-0.3552-0.45457zm-7.6448 4.6733c-1.8091 0-3.2812-1.4722-3.2812-3.2812 0-1.8091 1.4722-3.2812 3.2812-3.2812 1.8091 0 3.2813 1.4722 3.2813 3.2812 0 1.809-1.4722 3.2812-3.2813 3.2812z' fill='%23A3A3A3'/%3E%3C/svg%3E");
}
.dokan-admin-header .dokan-admin-header-menu .menu-item .item .dropdown .list-item a .dokan-icon .icon-request-feature {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 12 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.3396 1.5463c-1.3382-1.0558-3.0692-1.4364-4.7635-1.0312-1.9643 0.45425-3.548 2.0134-4.0268 3.9655-0.4788 1.9643 0.073662 3.9532 1.4855 5.3404 0.5034 0.50343 0.79805 1.2931 0.79805 2.1035v0.135c0 0.3437 0.27005 0.6139 0.61385 0.6139h4.9108c0.3438 0 0.61385-0.2702 0.61385-0.6139v-0.135c0-0.7981 0.30693-1.6124 0.84711-2.1404 1.0313-1.0435 1.6083-2.4308 1.6083-3.904 0-1.6942-0.7612-3.278-2.0871-4.3338zm-3.4376 2.4923c-0.92609 0-1.6003 0.6143-1.7768 1.3254-0.08034 0.32342-0.40576 0.52984-0.74395 0.4484-0.32849-0.08152-0.52934-0.41484-0.44778-0.74333 0.30414-1.2277 1.4573-2.2582 2.9685-2.2582 0.33929 0 0.61385 0.27455 0.61385 0.61385 0 0.33929-0.27456 0.61384-0.61385 0.61384z' fill='%23A3A3A3'/%3E%3Cpath d='m3.4468 13.901v0.6138c0 1.0155 0.82607 1.8416 1.8415 1.8416h1.2277c1.0155 0 1.8415-0.8261 1.8415-1.8416v-0.6138h-4.9108z' fill='%23A3A3A3'/%3E%3C/svg%3E");
}
.dokan-dashboard .post-box-container {
  width: 49%;
  float: left;
}
.dokan-dashboard .meta-box-sortables {
  margin: 0 8px;
  min-height: 100px;
}
.dokan-dashboard .postbox .main {
  padding: 0 12px 11px;
}
.dokan-dashboard .postbox .main:before,
.dokan-dashboard .postbox .main:after {
  content: " ";
  display: table;
}
.dokan-dashboard .postbox .main:after {
  clear: both;
}
.dokan-dashboard .postbox .main a {
  text-decoration: none;
}
.dokan-dashboard .postbox .main p {
  margin: 0;
}
.dokan-dashboard .postbox .main h4 {
  margin: 0 0 7px 0;
  padding: 0 0 7px 0;
  border-bottom: 1px solid #eee;
}
.dokan-dashboard .postbox .inside {
  margin: 10px 0 0 0;
  padding: 0;
}
.dokan-dashboard .postbox.dokan-status .main {
  padding: 0;
}
.dokan-dashboard .postbox.dokan-status .inside {
  margin: 0;
}
.dokan-dashboard .postbox.dokan-status ul {
  margin-top: -13px;
}
.dokan-dashboard .postbox.dokan-status ul li {
  min-height: 50px;
  width: 50%;
  float: left;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  border-top: 1px solid #ececec;
  color: #aaa;
}
.dokan-dashboard .postbox.dokan-status ul li a {
  display: block;
  color: #aaa;
  padding: 10px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  position: relative;
  font-size: 12px;
}
.dokan-dashboard .postbox.dokan-status ul li a .details {
  color: #aaa;
}
.dokan-dashboard .postbox.dokan-status ul li a .details span {
  margin-left: 10px;
  font-weight: bold;
}
.dokan-dashboard .postbox.dokan-status ul li a .details span.up {
  color: green;
}
.dokan-dashboard .postbox.dokan-status ul li a .details span.up::before {
  content: "+";
}
.dokan-dashboard .postbox.dokan-status ul li a .details span.up::after {
  content: "%";
}
.dokan-dashboard .postbox.dokan-status ul li a .details span.down {
  color: red;
}
.dokan-dashboard .postbox.dokan-status ul li a .details span.down::before {
  content: "-";
}
.dokan-dashboard .postbox.dokan-status ul li a .details span.down::after {
  content: "%";
}
.dokan-dashboard .postbox.dokan-status ul li a strong {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 400;
  display: block;
  color: #21759b;
}
.dokan-dashboard .postbox.dokan-status ul li .dashicons {
  font-size: 2em;
  float: left;
  margin: 15px;
}
.dokan-dashboard .postbox.dokan-status ul li:nth-child(1) {
  border-top: none;
}
.dokan-dashboard .postbox.dokan-status ul li:nth-child(2) {
  border-top: none;
}
.dokan-dashboard .postbox.dokan-status ul li:nth-child(odd) {
  border-right: 1px solid #ececec;
}
.dokan-dashboard .postbox.dokan-status ul li.sale .dashicons {
  color: #307be1;
}
.dokan-dashboard .postbox.dokan-status ul li.commission .dashicons {
  color: #6da754;
}
.dokan-dashboard .postbox.dokan-status ul li.vendor .dashicons {
  color: #169c22;
}
.dokan-dashboard .postbox.dokan-status ul li.approval .dashicons {
  color: #fd9728;
}
.dokan-dashboard .postbox.dokan-status ul li.product .dashicons::before {
  font-family: WooCommerce;
  content: "\e006";
  color: #464646;
}
.dokan-dashboard .postbox.dokan-status ul li.withdraw .dashicons::before {
  font-family: WooCommerce;
  content: "\e01e";
  color: #cd2c2f;
}
.dokan-dashboard .mark-red a {
  color: red;
}
.dokan-dashboard .mark-green a {
  color: green;
}
.dokan-dashboard .dokan-left {
  float: left;
  width: 45%;
}
.dokan-dashboard .dokan-right {
  float: right;
  width: 45%;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 23px;
}
.dokan-settings-wrap {
  display: flex;
  border: 1px solid #c8d7e1;
}
.dokan-settings-wrap .dashicons {
  padding-top: 2px;
  margin-right: 5px;
}
.dokan-settings-wrap .dashicons.dashicons-admin-generic {
  color: #6c75ff;
}
.dokan-settings-wrap .dashicons.dashicons-cart {
  color: #00aeff;
}
.dokan-settings-wrap .dashicons.dashicons-money {
  color: #d35400;
}
.dokan-settings-wrap .dashicons.dashicons-admin-page {
  color: #8e44ad;
}
.dokan-settings-wrap .dashicons.dashicons-admin-appearance {
  color: #3498db;
}
.dokan-settings-wrap .dashicons.dashicons-networking {
  color: #1abc9c;
}
.dokan-settings-wrap h2.nav-tab-wrapper {
  flex: 1;
  border-bottom: none;
  padding: 0;
  background: #f1f1f1;
  border-right: 1px solid #c8d7e1;
}
.dokan-settings-wrap h2.nav-tab-wrapper a {
  float: none;
  display: block;
  margin: 0;
  border: none;
  padding: 13px 13px;
  background: #f1f1f1;
  font-weight: 500;
  border-bottom: 1px solid #c8d7e1;
}
.dokan-settings-wrap h2.nav-tab-wrapper a.nav-tab-active {
  background: #fff !important;
  border-right: 1px solid #c8d7e1;
  width: 99%;
  color: #2e4453;
}
.dokan-settings-wrap .metabox-holder {
  flex: 3;
  padding-left: 3%;
  padding-right: 10px;
  background: #fff;
}
td.tooltips-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  padding-right: 0;
}
.tooltips-data span {
  width: 20px;
}
ul.dokan-settings-repeatable-list {
  margin: 0;
}
.form-table tr td.dokan_checkbox_up {
  vertical-align: top;
  margin-top: 0.45em !important;
}
td.combine-tips-style {
  display: table-cell;
  vertical-align: top;
}
.wc_error_tip {
  max-width: 20em;
  line-height: 1.8em;
  position: absolute;
  white-space: normal;
  background: #d82223;
  margin: 1.2em 1px 0 -1em;
  z-index: 9999999;
  color: #fff;
  font-size: 12px;
  padding: 8px;
}
.wc_error_tip:after {
  content: "";
  display: block;
  border: 8px solid #d82223;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -3px;
  left: 50%;
  margin: -1em 0 0 -3px;
}
.dokan-settings-radio-image {
  display: block;
  width: 50%;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 0 0 15px;
  position: relative;
  line-height: 0;
  border: 1px solid #ededed;
  padding: 4px;
}
.dokan-settings-radio-image img {
  max-width: 100%;
  z-index: 1;
}
.dokan-settings-radio-image .current-option-indicator {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4caf50;
  color: #fff;
  padding: 4px;
  z-index: 2;
  line-height: 1.3;
}
.dokan-settings-radio-image .active-option {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  transition: opacity 0.4s ease;
}
.dokan-settings-radio-image .active-option button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -58px;
}
.dokan-settings-radio-image:hover .active-option {
  opacity: 1;
}
.dokan-settings-radio-image.active .active-option {
  display: none;
}
.dokan-settings-radio-image.not-active .current-option-indicator {
  display: none;
}
.wp-pointer-buttons button.next {
  margin-right: 5px;
}
.wp-pointer-buttons a.dokan {
  padding-left: 10px;
}
.wp-pointer-buttons a.dokan:before {
  content: unset;
}
.dokan-admin-notices a {
  text-decoration: none;
}
