.dokan_product_author_override__avatar {
  display: inline-block;
  float: left;
}
.dokan_product_author_override__avatar img {
  width: 22px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #eaeaea;
}
.dokan_product_author_override__title {
  line-height: 1.7;
  padding-left: 28px;
}
