#dokan-my-orders-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#dokan-my-orders-filter input,
#dokan-my-orders-filter select {
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 33px;
}

#dokan-my-orders-filter + div.dokan-form-group .dokan-btn {
    margin-top: 10px;
    margin-right: 10px;
}
