.dokan-dashboard-content:has(.dokan-product-product-editor) {
    background-color: #f0f0f1;
}

.dokan-product-product-editor {
    .react-select input,
    .react-select select {
        height: auto !important;
        min-height: auto !important;
    }
    .dataforms-layouts-card__field {
        > div:first-child {
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd !important;
        }
    }
    legend.components-base-control__label {
        display: flex !important;
        gap: 2px;
        margin-left: 0 !important;
        background-color: transparent !important;
    }
    .components-input-control__label {
        display: flex !important;
        gap: 2px;
    }
    .components-input-control__backdrop {
        border-radius: 5px !important;
        border: 1px solid #e9e9e9 !important;
    }
    fieldset.components-radio-control {
        background-color: transparent !important;
    }
    .react-select__value-container {
        padding-left: 10px;
    }
    .dokan-form-field-label {
        font-size: 11px;
        font-weight: 500;
        line-height: 1.4;
        text-transform: uppercase;
        box-sizing: border-box;
        display: block;
        padding-top: 0px;
        padding-bottom: 0px;
        max-width: 100%;
        z-index: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .product-editor-price-input {
        background: white;
        border: 1px solid #e1e1e1;

        &.rounded-l-none {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            border-left: none !important;
        }

        &.rounded-r-none {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-right: none !important;
        }
    }

    .dokan-product-image_id {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 232px;
        width: 100%;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        img {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            object-fit: cover;
        }
        &.is-custom {
            width: 232px;
        }
    }
    .variation-form {
        .dokan-form-field-image_id {
            img {
                height: 180px;
                width: 180px;
            }
        }
        .dokan-product-image_id {
            height: 180px;
            width: 180px;
            img {
                height: 180px;
                width: 180px;
            }
        }
        .dokan-form-field-image_id-label {
            display: none !important;
        }
    }
    .dokan-product-gallery_image_ids {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 80px;
        max-width: 100%;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            max-width: 100%;
        }
    }
    .dokan-form-card-title {
        font-size: 14px;
        font-weight: 600;
        color: #25252d;
    }
    .dokan-form-card-description {
        font-size: 14px;
        font-weight: 400;
        color: #828282;
    }
    .dokan-form-field-description {
        font-size: 12px;
        font-weight: normal;
        color: rgb(117, 117, 117);
        margin: 4px 0 0;
    }
}
