@font-face {
    font-family: "SF Pro Text";
    src: url("./SF-Pro-Text-Heavy.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("./SF-Pro-Text-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("./SF-Pro-Text-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("./SF-Pro-Text-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("./SF-Pro-Text-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("./SF-Pro-Text-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
