@import "@wordpress/dataviews/build-style/style.css";

.dokan-layout {
  .dokan-dashboard-datatable {
    .dataviews-wrapper {
      height: auto;

      .dataviews__view-actions {
        display: none;
      }

      .components-button.is-compact.has-icon:not(.has-text) {
          width: auto;

          &:hover,
          &:focus {
              background-color: transparent;
              box-shadow: none;
              border: none;

          }
      }
    }
  }
}
