@tailwind base;
@tailwind components;
@tailwind utilities;

// Reset unwanted table styles but keep structure intact
@layer base {
    :root {
        --colors-primary-500: var(--dokan-button-border-color, #7047EB);
        --wp-components-color-accent: var(--dokan-button-background-color, #7047EB);
    }
    // This is a hack to fix headless ui flickering during .dokan-layout class addition with MutationObserver.
    // This is a temporary fix until headless ui provides a better solution.
    #headlessui-portal-root {
        display: none;
    }
    .bg-primary-500 {
        @apply bg-dokan-btn focus:outline-dokan-btn;
    }
    .dokan-layout {
        table:not(.dataviews-view-table),
        table:not(.dataviews-view-table) th,
        table:not(.dataviews-view-table) td {
            margin: 0;
            padding: 0;
            border: 0;
            border-spacing: 0;
            border-collapse: collapse;
            font-size: inherit;
            font-weight: inherit;
            text-align: inherit;
            vertical-align: inherit;
            box-sizing: border-box;
        }

        a:focus, button:focus, .button.alt:focus, input:focus, textarea:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus {
            outline-color: var(--dokan-button-border-color, #7047EB);
        }

        input[type=checkbox] {
            @apply before:!content-[''] mt-1;
        }
    }

    button[data-headlessui-state="checked"] {
        &:hover, &:focus {
            background-color: var(--dokan-button-background-color, #7047EB) !important;
        }
    }
    div[data-headlessui-state="open"][role="dialog"] {
        // we are using z-index: 999 to make sure the modal is on top of everything except dokan ui toast
        // When changing this value, make sure to check if toast is still on top of the modal
        z-index: 999;
    }
}
