/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-dokan-dokan-store-address {
    border: 1px dotted #f00;
    background: #000;
    .text-red-500 {
        color: red;
    }
}
