.dokan-admin-notices-wrap {
    &.notice {
        border: 0;
        padding: 0 !important;
        box-shadow: none;
        background: transparent;

        &::before,
        &::after {
            content: none !important;
            display: none !important;
        }
    }

    .dokan-admin-notices {
        position: relative;
        box-sizing: border-box;

        .dokan-notice-slides {
            position: relative;
            overflow: hidden;
            min-height: 110px;
            border-radius: 5px;
            padding: 13px 0;
            box-shadow: 0 3px 4px rgba(138, 138, 138, 0.1);

            .dokan-admin-notice {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                min-height: 100%;
                padding: 0 15px;
                box-sizing: border-box;
            }
        }

        .slide-notice {
            position: absolute;
            top: 18px;
            right: 18px;
            padding: 0;
            border: 1px solid #DFDFDF;
            border-radius: 3px;
            min-width: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;

            .notice-count {
                padding: 4px 5px;
                color: #777777;
                font-size: 12px;
                font-weight: normal;
                font-family: "SF Pro Text", sans-serif;
                border-left: 1px solid #DFDFDF;
                border-right: 1px solid #DFDFDF;
            }

            .current-notice,
            .total-notice {
                &.active {
                    font-weight: 600;
                }
            }

            .next,
            .prev {
                margin-top: 4px;
                padding: 0 6px;
                cursor: pointer;

                svg {
                    line-height: 0;
                }
            }

            .next,
            .prev {
                &.active svg path {
                    fill: #C2BEBE;
                }
            }
        }

        &:has(.slide-notice) .dokan-notice-slides .dokan-admin-notice {
            padding-right: 220px;
        }
    }

    .dokan-admin-notice {
        background: #fff;
        padding: 15px 20px;
        border-left-style: solid;
        border-left-width: 5px;

        &.dokan-success {
            border-left-color: #49B671;
        }

        &.dokan-info {
            border-left-color: #0878B0;
        }

        &.dokan-alert {
            border-left-color: #E23B7B;
        }

        &.dokan-warning {
            border-left-color: #FFC053;
        }

        &.dokan-promotion {
            border-left-color: #7047EB;
        }

        .notice-content {
            display: flex;

            &:not(:has(.dokan-message h3)) {
                align-items: center;
            }
        }

        .logo-wrap {
            position: relative;
            background-color: #020A39;
            min-width: 86px;
            min-height: 97px;
            border-radius: 5px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .dokan-logo {
                width: 41.74px;
                height: 52px;
            }
        }

        .dokan-message {
            margin-left: 17px;

            h3 {
                color: #000000;
                margin: 0 0 8px;
                font-weight: bold;
                font-size: 16px;
                font-family: "SF Pro Text", sans-serif;
            }

            div {
                color: #888888;
                font-weight: 400;
                font-size: 13px;
                font-family: "SF Pro Text", sans-serif;

                a {
                    text-decoration: none;
                }
            }

            .dokan-btn {
                font-size: 12px;
                font-weight: 300;
                line-height: 16px;
                padding: 6px 12px;
                margin-right: 4px;
                margin-top: 10px;
                border-radius: 3px;
                border: 1px solid #7047EB;
                cursor: pointer;
                transition: all .2s linear;
                text-decoration: none;
                font-family: "SF Pro Text", sans-serif;
                display: inline-block;

                &:disabled {
                    opacity: .7;
                }

                :last-child {
                    margin-right: 0;
                }
            }

            .btn-dokan {
                padding: 8px 12px;
            }

            .dokan-btn-primary {
                color: #fff;
                background: #7047EB;
                font-weight: 400;
            }

            .dokan-btn-primary:hover {
                background: transparent;
                color: #7047EB;
            }

            .dokan-btn-secondary {
                color: #7047EB;
                background: transparent;
                font-weight: 400;
            }

            .dokan-btn-secondary:hover {
                color: #ffffff;
                background: #7047EB;
            }

            a {
                text-decoration: none;
            }
        }
    }

    @media only screen and (max-width: 375px) {
        .dokan-admin-notices {
            .notice-content {
                flex-direction: column;
                align-items: start !important;
                gap: 1rem;
            }
            .dokan-notice-slides {
                min-height: 245px;

                .dokan-admin-notice {
                    align-items: start;
                    padding: 10px 20px;
                    .dokan-message {
                        div {
                            max-height: 50px;
                            overflow: auto;
                        }
                        margin: 0;
                    }
                }
            }

            .slide-notice {
                bottom: 0;
                top: unset;
                right: 10px;
                padding: 3px 5px;
            }
        }
    }

    @media screen and (min-width: 376px) and (max-width: 576px) {
        .dokan-admin-notices {
            .notice-content {
                flex-direction: column;
                align-items: start !important;
                gap: 1rem;
                height: 195px;
            }
            .dokan-notice-slides {
                min-height: 195px;

                .dokan-admin-notice {
                    align-items: start;
                    padding: 10px 20px;
                    .dokan-message {
                        div {
                            max-height: 50px;
                            overflow: scroll;
                        }
                        margin: 0;
                    }
                }
            }

            .slide-notice {
                right: 3rem;
                padding: 3px 8px;
                top: 2rem;
            }
        }
    }

    @media screen and (min-width: 577px) and (max-width: 768px) {
        .dokan-admin-notices {
            .dokan-notice-slides {
                min-height: 160px;
            }
        }
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.8s ease-in-out;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
}

#woocommerce-coupon-data {
    #coupon_options {
        #general_coupon_data {
            #fixed-cart-discount-warning {
                display: block;
                padding: 0;
                color: #cc0000;
            }
        }
    }
}



// wp dokan logo styles

#adminmenu #toplevel_page_dokan {
    .wp-menu-image.svg {
        background-size: 17px;
    }

    .dokan-chat-with-us-icon {
        fill: none;
        width: 16px;
        height: 16px;
        stroke-width: 2;
        margin-left: 5px;
        stroke: currentColor;
        stroke-linecap: round;
        stroke-linejoin: round;
        vertical-align: text-bottom;
    }
}

#adminmenu {
    #toplevel_page_dokan {
        .wp-submenu {
            a:empty {
                display: none;
            }
        }
    }
}
