.card_container{
    margin-top: 15px;

    p {
        margin-bottom: 10px !important;
    }

    .card_field {
        box-shadow: inset 2px 0 0 #0f834d;
        width: 100%;
        padding: 0.6180469716em;
        background-color: #f2f2f2;
        color: #43454b;
        border: 0;
        box-sizing: border-box;
        font-weight: normal;
        height: 40px;
        margin-bottom: 5px;
    }
}

.unbranded_checkout {
    margin-bottom: 15px;
}
