/*--------------------------------------------------
:: Responsive Styles
-------------------------------------------------- */

@media (max-width: 1366px) {
    .dokan-single-store {
        .profile-frame {
            .profile-info-box.profile-layout-layout1 {
                .profile-info-summery-wrapper {
                    .profile-info-summery {
                        .profile-info {
                            .dokan-store-info {
                                max-width: 650px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .dokan-single-store {
        .profile-frame {
            .profile-info-box.profile-layout-layout1 {
                .profile-info-summery-wrapper {
                    .profile-info-summery {
                        .profile-info {
                            .dokan-store-info {
                                max-width: 590px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    #dokan-seller-listing-wrap {
        &.list-view {
            .dokan-seller-wrap {
                .dokan-single-seller {
                    .store-wrapper {
                        padding: 0px 10px 0px 0px;
                        .store-header {
                            .store-banner {
                                min-height: 120px;
                            }
                        }
                    }

                    .store-content {
                        .store-data-container {
                            .store-data {
                                h2 {
                                    font-size: 20px;
                                    margin-bottom: 5px;
                                }
                                .store-address {
                                    font-size: 14px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .dokan-single-store {
        .profile-frame {
            .profile-info-box.profile-layout-layout1 {
                .profile-info-summery-wrapper {
                    .profile-info-summery {
                        .profile-info {
                            .dokan-store-info {
                                max-width: 430px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #dokan-store-listing-filter-wrap {
        .left {
            .store-count {
                margin-top: -5px;
            }
        }

        .right {
            .item {
                &:not(:first-child) {
                    padding-left: 50px;
                }
            }
        }

        .toggle-view {
            display: none;
        }
    }

    .dokan-table{
        border: none;

        text-align: left;
        width: 100%;
        max-width: 100%;

        thead {

        }
        tbody{
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
            tr{
                vertical-align: inherit;
                width: 100%;
                td{
                    padding: 6px;
                    text-align: left;
                    border-color: #ededed;
                    border-style: solid;
                    border-width: 0px 1px 1px 1px;
                    background: #fff;
                }
                td:before{
                    padding-right: 20px !important;
                    float: left;
                    font-weight: bold;
                }
                .post-date {
                    .status{
                        float: right;
                    }
                }


                .diviader{
                    background: transparent !important;
                    border: none !important;
                    height: 15px;
                    background: none;
                }
                .diviader:before{
                    content:" ";
                }
                td:first-child{
                    border-top-width:  1px;

                }
                .dokan-order-action{
                    width: 100%;
                }
            }
            tr:nth-of-type(odd){

            }
            .row-actions{
                visibility: visible !important;
            }

        }

    }
    .dokan-orders-area{
        .dokan-w8{
            width: 100% !important;
        }
        .dokan-w4{
            width: 100% !important;
        }
    }
    .dokan-primary {
        width: 100% !important;
        padding-left: 15px;
        padding-right: 15px;
        li.product {
            width: 100% !important;
        }
    }
    .dokan-secondary {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .dokan-dashboard {
        .dokan-dash-sidebar,
        .dokan-dashboard-content {
            float: none;
            width: 100%;
        }
        .product-edit-new-container{
            .dokan-edit-row{
                .dokan-side-left, .dokan-side-right{
                    float: none;
                    width: auto;
                }
            }
        }

        .dokan-dash-sidebar ul.dokan-dashboard-menu li {
            display: inline-block;
            border-right: 1px solid #454545;

            &.active:after {
                content: '';
                display: none;
            }

            a {
                padding: 12px 24px;
            }
        }

        .dokan-dashboard-content {
            padding-left: 0;
        }
    }

    // store page
    ul.dokan-seller-wrap {
        text-align: center;
        li.dokan-single-seller {
            width: 90% !important;
            margin-bottom: 50px;
        }
    }
    .dokan-single-store {
        .profile-frame {
            .profile-info-box.profile-layout-layout1 {
                .profile-info-summery-wrapper {
                    .profile-info-summery {
                        .profile-info {
                            .dokan-store-info {
                                max-width: 500px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 430px) {
    #dokan-store-listing-filter-form-wrap {
        &:before {
            left: -5%;
        }

        .right {
            .item {
                &:not(:first-child) {
                    padding: 0;
                    margin-left: 50px;
                }
            }
        }
    }

    .apply-filter {
        margin-top: 20px;

        #cancel-filter-btn {
            display: block !important;
        }
    }

    .dokan-dashboard {
        .dokan-dash-sidebar,
        .dokan-dashboard-content {
            float: none;
            width: 100%;

            article {
                overflow: scroll;
            }

            // settings page
            .dokan-settings-area {
                .dokan-banner {
                    width: auto !important;
                    height: auto !important;
                    margin: 0 !important;
                    margin-bottom: 15px !important;
                }
            }
        }

        .dashboard-content-area {
            .dokan-announcement-widget {
                .dokan-right {
                    float: right !important;
                }
                .dokan-left {
                    float: left !important;
                }
            }

             .dokan-dash-left {
                padding-right: 0 !important;
            }
        }

        .dokan-dash-sidebar ul.dokan-dashboard-menu {
            .clearfix();

            li {
                float: left;
                width: 50%;

                a {
                    padding: 12px 18px;
                }
            }
        }

        // order listing
        .dokan-orders-area {
            .dokan-order-filter-serach {
                padding: 10px 0 10px 0;
                .dokan-btn {
                    padding: 6px 13px;
                }
            }
        }

        // product listing
        .dokan-product-listing .dokan-product-listing-area {
            .product-listing-top {
                border-bottom: 0;

                ul.dokan-listing-filter {
                    width: 100%;
                }
                .dokan-add-product-link {
                    display: flex;
                    justify-content: space-between;
                    width: auto;
                    float: none;
                }
            }
            .dokan-product-date-filter {
                display: flex;
                justify-content: space-between;

                .dokan-form-group {
                    margin-bottom: 0;
                }
            }
            .dokan-product-search-form {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;

                .dokan-form-group {
                    margin-bottom: 0;
                    margin-right: 0;
                }
            }

            #product-filter .dokan-form-group {
                margin-top: 15px;
            }
        }

        .dokan-right,
        .dokan-left {
            float: none !important;
        }

        .dokan-w6, .dokan-w8, .dokan-w4 {
            float: none;
            width: 100%;
        }

        //reports
        .dokan-reports-content .dokan-reports-area .dokan-reports-wrap {
            .report-left,
            .report-right {
                width: 100%;
            }
        }

        // product edit
        .dokan-product-edit-area {
            .dokan-product-edit-left,
            .dokan-product-edit-right {
                float: none;
                width: 100%;
            }
        }

        .content-half-part {
            float: none;
            width: 100%;
        }

        .content-half-part{
            margin-bottom: 8px;
        }
        .content-half-part:last-child{
            padding-left: 0px;
        }
        .content-half-part:first-child {
            padding-right: 0px;
        }

        ul.dokan_tabs {
            padding-left: 0;
            margin-right: 0;

            li {
                margin-bottom: 10px;
            }
        }
    }

    // store page
    .dokan-single-store .profile-frame .profile-info-box {
        width: 100%;
    }

    .dokan-single-store {
        .profile-frame {
            .profile-info-box.profile-layout-layout1 {
                .profile-info-summery-wrapper {
                    .profile-info-summery {
                        .profile-info {
                            .dokan-store-info {
                                max-width: 280px;
                            }
                        }
                    }
                }
            }
        }
    }

    .dokan-seller-wrap {
        .dokan-single-seller {
            .store-wrapper {
                .store-footer {
                    display: flex;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .dokan-order-filter-serach form:first-child .dokan-form-group {
        display: flex;
    }

    #dokan-store-listing-filter-wrap {
        .right {
            .item {
                &:not(:first-child) {
                    padding-left: 35px;
                }

                #stores_orderby {
                    padding: 8px 0px 8px 16px;
                }
            }
        }
    }
}

@media (max-width: 360px) {

    #dokan-store-listing-filter-wrap {
        .right {
            .item {
                &:not(:first-child) {
                    padding-left: 20px;
                }
            }
        }
    }

    .dokan-single-store {
        .profile-frame {
            .profile-info-box.profile-layout-layout1 {
                .profile-info-summery-wrapper {
                    .profile-info-summery {
                        .profile-info {
                            .dokan-store-info {
                                max-width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}